*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
   
    padding-top: 10px;
    
    
  /*  background-color: antiquewhite;*/
}

.navbar .container{
    background-color: black;
    display: flex;
    align-items: center;
      justify-content: space-between;
}

.logo img{
    width: 50%;
   /* margin-top: 10px;*/
  /*  display: flex;*/
}
.navbar .list {
    /*display: flex;*/
    justify-content:flex-end;
    align-content: space-around;
}    
.list ul{
    display: flex;
  

   
}



.list ul li {
    display: inline-flex;
    align-content: center;
    margin-right: 20px;
    
   
}
.list a{
    text-decoration: none;   
    color: aliceblue; 
}


.PORTFOLIO{
    text-align: center;
    background-color:antiquewhite;
   /*display: inline-flex;*/
    
}
.imgPortfolio {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;

}
.PORTFOLIO img{
    
    width: 100%;
}
.PORTFOLIO-img{
    width: 30%;
    background-color: aliceblue;
   
}
.imgPortfolio h3{
    color:rgba(0, 0, 0, 0.884);
}

.PORTFOLIO-img1{
    width: 31%;
    background-color:bisque;
   
}
